@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="profile" class="nav-link text-dark" asp-controller="ManageUser" asp-action="Index" title="Profile">Profile</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
    
}
else
{
        <li class="nav-item">
            <a class="btn btn-success btn-sm mr-2" id="register" asp-controller="Account" asp-action="Register" style="white-space: nowrap; margin-right:2px">
                <i class="fas fa-user-plus"></i> Register
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary btn-sm" id="login" asp-controller="Account" asp-action="Login" style="white-space: nowrap; margin-right:2px">
                <i class="fas fa-sign-in-alt"></i> Login
            </a>
        </li>
}
</ul>
