@model CourseProject1.ViewModels.EditCollectionVM
@using CourseProject1.Models.Enums
@{
    ViewData["Title"] = "Edit Collection";
}
<h1>Edit Collection</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="EditCollection" method="post">
            <input type="hidden"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name:</label>
                <input asp-for="Name" class="form-control" required maxlength="100"/>
              
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description:</label>
                <textarea asp-for="Description" class="form-control" rows="4" required maxlength="500"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label">Category:</label>
                <select asp-for="Category" class="form-control" required>
                    <option value="">Select Category</option>
                    @foreach (var category in Enum.GetValues(typeof(Category)))
                    {
                        <option value="@category">@category</option>
                    }
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>