@using CourseProject1.Models
@inject UserManager<User> userManager;
@model CourseProject1.Models.Collection;
@{
    ViewData["Title"] = $"{Model.Name} Collection";
}
<div class="container mt-5">
    <h1 class="mb-4">@Model.Name Collection</h1>
    <div class="card">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Collection Owner:</label>
                <div class="col-sm-9">
                    <p class="form-control-plaintext">@Model.User.UserName</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Description:</label>
                <div class="col-sm-9">
                    <p class="form-control-plaintext">@Model.Description</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Category:</label>
                <div class="col-sm-9">
                    <p class="form-control-plaintext">@Model.Category</p>
                </div>
            </div>

           @*  <div class="form-group row">
                <label class="col-sm-3 col-form-label">Items Quantity:</label>
                <div class="col-sm-9">
                    <p class="form-control-plaintext">Items Quantity</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Total Likes:</label>
                <div class="col-sm-9">
                    <p class="form-control-plaintext">Total Likes</p>
                </div>
            </div> *@
        </div>
    </div>
</div>